<!DOCTYPE html>
<html>

<head>
    <title>AI Scam Detector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <nav class="navbar">

        <div class="logo">
            🛡 AI Scam Detector
        </div>

        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/analyze">Chat Analyzer</a>
            <a href="/screenshot">Screenshot</a>
            <a href="/voice">Voice</a>
            <a href="/awareness">Awareness</a>
            <a href="/about">About</a>
        </div>

    </nav>

    <div class="container">

        <section class="hero">

            <h1>AI Scam Detection Platform</h1>

            <p>
                Detect fraudulent messages, suspicious conversations,
                screenshots and digital transaction scams before
                financial loss occurs.
            </p>

            <a href="/analyze">
                <button class="btn">
                    Start Analysis
                </button>
            </a>

        </section>

        <div class="stats">

            <div class="card">
                <h2>1254+</h2>
                <p>Scams Detected</p>
            </div>

            <div class="card">
                <h2>15000+</h2>
                <p>Messages Analyzed</p>
            </div>

            <div class="card">
                <h2>92%</h2>
                <p>Detection Accuracy</p>
            </div>

            <div class="card">
                <h2>24/7</h2>
                <p>AI Monitoring</p>
            </div>

        </div>

        <div class="form-box">

            <h2>Latest Scam Trends</h2>

            <br>

            <ul>
                <li>🚨 UPI Refund Scam</li>
                <li>🚨 Fake KYC Update Scam</li>
                <li>🚨 OTP Verification Scam</li>
                <li>🚨 Lottery Prize Scam</li>
                <li>🚨 Customer Care Fraud</li>
            </ul>

        </div>

        <footer>

            Developed By:
            Saloni Goyal | Sahana | Ruvena Dsouza

            <br><br>

            AI Based Scam Detection for Informal Digital Transactions

        </footer>

    </div>

</body>

</html>